#qwe{
     color: wheat;
     font-size: 20px;
}
body{
     background:green;
}
#ser body{
     size: 20px;
}
p{
     size: 10px;
}
#ws{
     background-color: aqua;
     size: 20px;
}
.body{
     background-color: blueviolet;
}